<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
    </header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/about.html">Acerca de</a>
        <a href="/projects.html">Proyectos</a>
        <a href="/contact.html">Contacto</a>
    </nav>
    <main>
        {{ content }}
    </main>
    <footer>
        &copy; {{ 'now' | date: "%Y" }} Todos los derechos reservados.
    </footer>
</body>
</html>

